{% load static %}
<!-- Sidebar -->
<nav id="sidebar"
     class="sidebar d-lg-block bg-gray-800 text-white collapse collapse-horizontal">
  <div class="container-fluid d-flex flex-column p-3">
    <!-- Brand / Logo -->
    <a class="navbar-brand text-white mb-4" href="{% url 'catalog:index' %}">
      <h4>Editorial</h4>
    </a>
    <!-- Navigation -->
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-newspaper"></i>
          </span>
          <span class="sidebar-text">Newspapers</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="{% url 'catalog:redactor-list' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-user-edit"></i>
          </span>
          <span class="sidebar-text">Redactors</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="{% url 'catalog:topic-list' %}" class="nav-link ">
          <span class="sidebar-icon">
            <i class="fas fa-tags"></i>
          </span>
          <span class="sidebar-text">Topics</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
