{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="card shadow-sm my-4">
    <div class="card-header d-flex flex-column align-items-center my-4">
      <h1 class="mb-3 fw-bold">Welcome back, {{ user.username }}!</h1>
      <p class="lead text-muted">Here’s your quick overview and shortcuts.</p>
      <div class="gap-3 my-4">
        <a href="{% url 'catalog:newspaper-create' %}" class="btn btn-outline-primary btn-md rounded-pill">
          <i class="fas fa-plus-circle me-2"></i>
          Add Newspaper
        </a>
        <a href="{% url 'catalog:topic-list' %}" class="btn btn-outline-primary btn-md rounded-pill">
          <i class="fas fa-tags me-2"></i>
          View Topics
        </a>
        <a href="{% url 'catalog:redactor-list' %}" class="btn btn-outline-primary btn-md rounded-pill">
          <i class="fas fa-user-edit me-2"></i>
          Redactors
        </a>
      </div>
    </div>
    <div class="card-body d-fex flex-column align-items-center">
      <div class="row text-center g-4">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card h-100 border-0 rounded-4 py-4 shadow-lg bg-primary text-white">
            <div class="card-body">
              <i class="fas fa-newspaper fa-3x mb-4"></i>
              <h5 class="card-title fw-bold">Newspapers</h5>
              <p class="card-text h3">{{ num_newspapers }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card h-100 border-0 rounded-4 py-4 shadow-lg bg-primary text-white">
            <div class="card-body">
              <i class="fas fa-user-edit fa-3x mb-4"></i>
              <h5 class="card-title fw-bold">Redactors</h5>
              <p class="card-text h3">{{ num_redactors }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card h-100 border-0 rounded-4 py-4 shadow-lg bg-primary text-white">
            <div class="card-body">
              <i class="fas fa-tags fa-3x mb-4"></i>
              <h5 class="card-title fw-bold">Topics</h5>
              <p class="card-text h3">{{ num_topics }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
