{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="card shadow-sm mx-auto my-4">
    <div class="card-header">
      <h2 class="mb-0 text-center">{{ object|yesno:"Update,Create" }} Topic</h2>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
